.container{
  display: flex;
  justify-content: center;
}

.badColumn{
  width: 500px;
  text-align: center;
}

.movieColumn{
  width: 500px;
  margin-top: 35px;
  text-align: center;
}

.goodColumn{
  width: 500px;
  text-align: center
}

